<div class="text-center" id="view">
            <p>
              <button class="btn btn-default detail" ng-click="detail(contact.id)"><i class="fa fa-search" aria-hidden="true"></i></button>
            </p>
            <p>
              <button class="btn btn-default detail" ng-click="edit(contact)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </p>
            <p>
              <button ng-if="!contact.favourite" class="btn btn-default favourite" on-click="favouriteClick(contact)"><i class="fa fa-star-o" aria-hidden="true"></i></button>
              <button ng-if="contact.favourite" class="btn btn-default favourite" on-click="favouriteClick(contact)"><i class="fa fa-star" aria-hidden="true"></i></button>
            </p>
  <h1>Hello {{controller}}</h1>
</div>