<div class="text-center" id="view">
<h1>My Contacts</h1>

  <div class="input-group input-group-lg col-xs-6 col-xs-offset-3">
    <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
    <input type="text" class="form-control" placeholder="Search Contacts by: name, group, birthday, etc." ng-model="searchText">
  </div>

  <div id="contacts">
    <div>
    </div>
    <div ng-repeat="contact in contacts | filter: searchText" class="col-offset-3 col-sm-3">
      <div class="thumbnail">

        <button class="btn btn-default detail" ng-click="detail(contact.id)">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        
        <button class="btn btn-default edit" ng-click="edit(contact.id)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        
        <div class="group-dropdown dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li class="dropdown-header">Add contact to a group</li>
            <li>
              <a ng-click="group(contact, 'family')">Family</a>
            </li>
            <li>
              <a ng-click="group(contact, 'friends')">Friends</a>
            </li>
            <li>
              <a ng-click="group(contact, 'realFriends')">Real Friends</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a ng-click="group(contact, 'none')">none</a>
            </li>
          </ul>
        </div>

        <button ng-if="!contact.isFavourite" class="btn btn-default favourite" ng-click="addFavourite(contact)">
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </button>

        <button ng-if="contact.isFavourite" class="btn btn-default favourite" ng-click="removeFavourite(contact)">
          <i class="fa fa-star" aria-hidden="true"></i>
        </button>
        
        <button class="btn btn-defulat delete" ng-click="deleteContact(contact.id)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>

        <h4>{{contact.firstName}} {{contact.lastName}}</h4>
        <h5>{{contact.preferedName}}</h5>
        <p>{{contact.primaryPhone}}</p>
        <p>{{contact.email}}</p>
      </div>
    </div>
  </div>
</div>